<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<style>
  body { 
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
  }
</style>
<h1>Private blockchain</h1>
<h3>Blockexplorer v1.0</h3>
<b>George Kiknadze</b>
